body{
    background-color: beige;
}

.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    /* grid-template-rows: repeat(4,1fr); */

}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    border: 1px solid red;
    grid-row: 1/2;
    grid-column: 1/13;
    background-color: black;
    color: white;
}
.nav{
    grid-row: 2/3;
    grid-column: 1/13;
    background-color: rgb(15,17,17);
    border: 1px solid green;
    height:60px;
    color:white;
    
}
ul li{
    padding-top: 20px;
    padding-left: 20px;
    display: inline-block;
    margin: 0px;

    
}
li:hover{
    background-color: navy;
}


.wallpaper{
    grid-row: 3/4;
    grid-column: 1/13;

}
.cards{
    margin-top: 100px;
    grid-row: 4/5;
    grid-column: 1/13;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card1,.card2,.card3,.card4{
    height: 300px;
    border:1px solid red;
    
    width: 200px;
}

.card2{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

}

.card21{
    background-color: goldenrod;
    border: 1px solid ;
}

.card22{
    background-color: silver;
    border: 1px solid ;
}

.card23{
    background-color: yellow;
    border: 1px solid ;
}

.card24{
    background-color:skyblue;
    border: 1px solid ;
}
.card1{
    /* background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/Events/img24/Jupiter24/Phase3/J24_GW_PC_CC_SAD_2x._SY608_CB545060597_.jpg"); */
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

}

.card11{
    background-color: brown;
    /* background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/Events/img24/Jupiter24/Phase3/J24_GW_PC_CC_SAD_2x._SY608_CB545060597_.jpg"); */
    border: 1px solid ;
}

.card12{
    background-color: rgb(199, 60, 60);
    border: 1px solid ;
}

.card13{
    background-color: rgb(100, 27, 27);
    border: 1px solid ;
}

.card14{
    background-color: rgb(144, 22, 22);
    border: 1px solid ;
}
.card3{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

}

.card31{
    background-color: goldenrod;
    border: 1px solid ;
}

.card32{
    background-color: silver;
    border: 1px solid ;
}

.card33{
    background-color: yellow;
    border: 1px solid ;
}

.card34{
    background-color:skyblue;
    border: 1px solid ;
}